{%extends 'layout.html'%} {% block title %}
<title>Agregar Trabajadores</title> {%endblock title %} {% block body%}
<main>
  <div class="card shadow m-3">
    <div class="card-header bg-success w-100 rounded-top">
      <h3 class="fw-bold text-white m-0 py-2">Agregar Trabajadores</h3>
    </div>
    <div class="card-body mx-2 fs-main">
      <form
        
        method="post"
        id="formulario"
      >
        <div class="row mb-2">
          <div class="col-sm-12 col-md-2 col-lg-1 mb-2">
            <label for="" class="col-form-label fw-medium"
              >Nombre <span class="text-danger">*</span></label
            >
          </div>
          <div class="col-sm-12 col-md-4 col-lg-3">
            <input id="nombre" name="nombre" class="form-control fs-main" />
          </div>
          <div class="col-sm-12 col-md-2 col-lg-1">
            <label for="" class="col-form-label fw-medium"
              >Telefono <span class="text-danger">*</span></label
            >
          </div>
          <div class="col-sm-12 col-md-4 col-lg-2">
            <input id="telefono" name="telefono" class="form-control fs-main" pattern="[0-9]{8,14}" type="tel" />
          </div>
          <div class="col-sm-12 col-md-2 col-lg-1">
            <label for="" class="col-form-label fw-medium"
              >Cargo <span class="text-danger">*</span></label
            >
          </div>
          <div class="col-sm-12 col-md-4 col-lg-2">
            <select id="cargo" name="cargo" class="form-control fs-main"></select>
          </div>

          <div class="col-sm-12 col-md-4 col-lg-2">
            <label for="" class="col-form-label fw-medium"
              >Fecha De Contratacion <span class="text-danger">*</span></label
            >
          </div>
          <div class="col-sm-12 col-md-8 col-lg-3">
            <input
              type="date"
              id="fecha"
              name="fecha"
              class="form-control fs-main"
            ></input>
          </div>
        </div>
        <div class="row mb-2">
          <div class="d-flex gap-2 justify-content-center">
            <a class="btn btn-sm btn-danger fw-bold" href="/InicioEmpleados">
              <i class="bi bi-x-circle"></i> Cancelar
            </a>
            <button class="btn btn-sm btn-success fw-bold" id="agregar">
              <i class="bi bi-plus-lg"></i> Agregar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- NOMBRE CEDULA DIRECCIÓN TELEFONO -->
</main>
{% endblock body %}
{%block script%}<script type="module" src="{{url_for('static',filename='Empleados/Agregar.js')}}"></script>{%endblock script%}