{%extends 'layout.html'%} {% block title %} <title>Empleados</title> {%endblock
    title %} {% block body%}
    
    <main>
      <div class="card shadow m-3">
        <div class="card-header bg-success w-100 rounded-top">
          <h3 class="fw-bold text-white m-0 py-2">Registro de Trabajadores</h3>
        </div>
        <div class="card-body mx-2 fs-main">
          <div class="row mb-2">
            <table
              class="table table-hover table-bordered table-responsive table-striped nowrap"
              id="Tabla"
              style="width: 100%"
            >
              <thead>
                <tr>
                  <th class="text-center">ID</th>
                  <th class="text-center">Nombre</th>
                  <th class="text-center">Cargo</th>
                  <th class="text-center">Fecha de Contratacion</th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="row mb-2">
            <div class="d-flex gap-2 justify-content-center">
                <a class="btn btn-sm btn-success fw-bold" href="/AgregarEmpleado">
                  <i class="bi bi-plus-lg"></i> Agregar
                </a>
              </div>
          </div>
        </div>
      </div>
    </main>
    
    {%endblock%} {% block script %}
    <script
      type="module"
      src="{{url_for('static',filename='Empleados/Inicio.js')}}"
    ></script>
    {% endblock script %}
    