{%extends 'layout.html'%} {% block title %} <title>Compras</title> {%endblock
    title %} {% block body%}
    
    <main>
      <div class="card shadow m-2">
        <div class="card-header bg-success w-100 rounded-top">
          <h3 class="fw-bold text-white m-0 py-2">Registro de Compras</h3>
        </div>
        <div class="card-body mx-2 fs-main">
          <div class="row mb-2">
            <table
              class="table table-hover table-bordered table-responsive table-striped nowrap"
              id="Tabla"
              style="width: 100%"
            >
              <thead>
                <tr>
                    <th class="text-center">ProductoCompraID</th>
                  <th class="text-center">Compra ID</th>
                  <th class="text-center">ProductoID</th>
                  <th class="text-center">Proveedor</th>
                  <th class="text-center">Producto</th>
                  <th class="text-center">Cantidad</th>
                  <th class="text-center">PrecioUnitario</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </main>
    
    {%endblock%} {% block script %}
    <script
      type="module"
      src="{{url_for('static',filename='Compras/Inicio.js')}}"
    ></script>
    {% endblock script %}
    