{%extends 'layout.html'%}
{% block title %} <title>Agregar Productos</title> {%endblock title %}
{%block body%}
<main>
    <div class="card shadow m-3">
      <div class="card-header bg-success w-100 rounded-top">
        <h6 class="fw-bold text-white m-0 py-2">Agregar Producto</h6>
      </div>
      <div class="card-body mx-2 fs-main">
        <form action="/AgregarProducto" method="post" id="formulario">
          <div class="row mb-2">
            <div class="col-sm-12 col-md-3 col-lg-2 ">
              <label for="" class="col-form-label fw-medium"
                >Nombre del producto <span class="text-danger">*</span></label
              >
            </div>
            <div class="col-sm-12 col-md-3 col-lg-2 " >
              <input id="nombre" name="nombre" class="form-control fs-main" />
            </div>
            <div class="col-sm-12 col-md-2 col-lg-1">
              <label for="" class="col-form-label fw-medium"
                >Cantidad <span class="text-danger">*</span></label
              >
            </div>
            <div class="col-sm-12 col-md-3 col-lg-1" >
              <input id="cantidad" name="cantidad" class="form-control fs-main" type="number" />
            </div>
            <div class="col-sm-12 col-md-3 col-lg-2 ">
              <label for="" class="col-form-label fw-medium"
                >Unidad de Medida<span class="text-danger">*</span></label
              >
            </div>
            <div class="col-sm-12 col-md-3 col-lg-1 " >
              <input id="unidadDeMedida" name="unidadDeMedida" class="form-control fs-main" />
            </div>
            <div class="col-sm-12 col-md-2 col-lg-1">
              <label for="" class="col-form-label fw-medium"
                >Precio <span class="text-danger">*</span></label
              >
            </div>
            <div class="col-sm-12 col-md-3 col-lg-1">
              <input id="precio" name="precio" class="form-control fs-main" type="number" />
            </div>
          </div>
          <div class="row mb-2">
            <div class="d-flex gap-2 justify-content-center">
              <a class="btn btn-sm btn-danger fw-bold" href="/InicioProducto">
                <i class="bi bi-x-circle"></i> Cancelar
              </a>
              <button class="btn btn-sm btn-success fw-bold" type="submit">
                <i class="bi bi-plus-lg"></i> Agregar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- NOMBRE CEDULA DIRECCIÓN TELEFONO -->
  </main>
  {%endblock%}
  {%block script%}<script src="{{url_for('static',filename='Productos/Agregar.js')}}"></script>{%endblock script%}
