{%extends 'layout.html'%} {% block title %}
<title>Agregar Productos</title> {%endblock title %} {%block body%}
<main>
  <div class="card shadow m-2">
    <div class="card-header bg-success w-100 rounded-top">
      <h3 class="fw-bold text-white m-0 py-2">Agregar Productos</h3>
    </div>
    <div class="card-body mx-2 fs-main ">
      <form method="post" id="formulario">
        <div class="row mb-2 d-flex justify-content-center">
          <div class="col-sm-12 col-md-2 col-lg-1 mb-2">
            <label for="nombre" class="col-form-label fw-medium"
              >Nombre <span class="text-danger">*</span></label
            >
          </div>
          <div class="col-sm-12 col-md-4 col-lg-2">
            <input id="nombre" name="nombre" class="form-control fs-main" />
          </div>
          <div class="col-sm-12 col-md-3 col-lg-2">
            <label for="" class="col-form-label fw-medium"
              >Unidad de Medida<span class="text-danger">*</span></label
            >
          </div>
          <div class="col-sm-12 col-md-3 col-lg-1">
            <select
              id="unidadDeMedida"
              name="unidadDeMedida"
              class="form-control fs-main"
            ></select>
          </div>
          <div class="col-sm-12 col-md-2 col-lg-1">
            <label for="precio" class="col-form-label fw-medium"
              >Precio <span class="text-danger">*</span></label
            >
          </div>
          <div class="col-sm-12 col-md-4 col-lg-2">
            <div class="input-group">
              <input
                id="precio"
                name="precio"
                class="form-control fs-main"
                type="number"
                min="0"
                step="0.01"
                aria-label="Precio"
              />
              <div class="input-group-append">
                <span class="input-group-text">NIO</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="d-flex gap-2 justify-content-center">
            <a class="btn btn-sm btn-danger fw-bold" href="/InicioProducto">
              <i class="bi bi-x-circle"></i> Cancelar
            </a>
            <button class="btn btn-sm btn-success fw-bold" id="agregar">
              <i class="bi bi-plus-lg"></i> Agregar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- NOMBRE CEDULA DIRECCIÓN TELEFONO -->
</main>
{%endblock%} {%block script%}
<script
  type="module"
  src="{{url_for('static',filename='Productos/Agregar.js')}}"
></script>
{%endblock script%}
