{%extends 'layout.html'%} {% block title %} <title>Productos</title> {%endblock title %}

{% block body%}

<main>
    <div class="card shadow m-3">
      <div class="card-header bg-success w-100 rounded-top">
        <h6 class="fw-bold text-white m-0 py-2">Producto</h6>
      </div>
      <div class="card-body mx-2 fs-main">
  
        <div class="row mb-2">
            <table  class="table table-hover table-bordered table-responsive table-striped nowrap"
            id="Tabla"
            style="width: 100%">
                <thead>
                    <tr>
                      <th class="text-center">ID</th>
                      <th class="text-center">Nombre</th>
                      <th class="text-center">Unidad De Medida</th>
                      <th class="text-center">Cantidad</th>
                      <th class="text-center">Precio Unitario</th>
                    </tr>
                </thead>
                
            </table>
        </div>
  
        <div class="row mb-2">
          <div class="d-flex gap-2 justify-content-center">
            <a class="btn btn-sm btn-success fw-bold" href="/AgregarProducto">
              <i class="bi bi-plus-lg"></i> Agregar
            </a>
          </div>
        </div>
      </div>
    </div>

    <div
    class="modal fade"
    id="modalDetails"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Actualizar</h1>
          <button
            id="close"
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <div class="modal-body">
          <form
        method="post"
        id="formulario"
      >
        <div class="row mb-2">
          <div class="col-sm-12 col-md-2 col-lg-12 mb-2">
            <label for="" class="col-form-label fw-medium"
              >Nombre <span class="text-danger">*</span></label
            >
          </div>
          <div class="col-sm-12 col-md-4 col-lg-12">
            <input id="nombre" name="nombre" class="form-control fs-main" />
          </div>
          <div class="col-sm-12 col-md-2 col-lg-12">
            <label for="" class="col-form-label fw-medium"
              >id <span class="text-danger">*</span></label
            >
          </div>
          <div class="col-sm-12 col-md-4 col-lg-12">
            <input id="id" name="id" class="form-control fs-main" readonly/>
          </div>
          <div class="col-sm-12 col-md-2 col-lg-12">
            <label for="" class="col-form-label fw-medium"
              >Unidad de medida <span class="text-danger">*</span></label
            >
          </div>
          <div class="col-sm-12 col-md-4 col-lg-12">
            <input id="unidad_de_medida" name="unidad_de_medida" class="form-control fs-main"  />
          </div>
          <div class="col-sm-12 col-md-2 col-lg-12">
            <label for="" class="col-form-label fw-medium"
              >Cantidad <span class="text-danger">*</span></label
            >
          </div>
          <div class="col-sm-12 col-md-4 col-lg-12">
            <input id="cantidad" name="cantidad" class="form-control fs-main" type="number" />
          </div>

          <div class="col-sm-12 col-md-2 col-lg-12">
            <label for="" class="col-form-label fw-medium"
              >Precio <span class="text-danger">*</span></label
            >
          </div>
          <div class="col-sm-12 col-md-10 col-lg-12">
            <input
              name="precio"
              class="form-control fs-main"
              id="precio"
            
            ></input>
          </div>
        </div>
        <div class="row mb-2">
          <div class="d-flex gap-2 justify-content-center">
            <a class="btn btn-secondary btn-danger" data-bs-dismiss="modal" id="cancel">
              <i class="bi bi-x-circle"></i> Cancelar
            </a>
            <button
              id="update"
              class="btn btn-sm btn-success fw-bold btn-primary"
            >
              <i class="bi bi-plus-lg"></i> Actualizar
            </button>
          </div>
        </div>
      </form>
        </div>
      </div>
    </div>
  </div>
  </main>

{%endblock%}

{% block script %}
<script
  type="module"
  src="{{url_for('static',filename='Productos/Inicio.js')}}"
></script>
{% endblock script %}