{%extends 'layout.html'%} 

{% block title %} <title>Clientes</title> {% endblock title %} 

{% block body%}
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <img src="logo.png" alt="Delicias Delicias Logo" class="img-fluid mb-4">
                <h1 class="display-4 mb-3">Bienvenido al sistema de gestión de pedidos Delicias Dilcias</h1>
                <p class="lead">En Delicias Delicias nos preocupamos por brindarte la mejor experiencia en la gestión de tus pedidos. ¡Déjanos ayudarte a simplificar tu proceso de tu comidería!</p>
                <a href="#" class="btn btn-primary btn-lg">Comenzar</a>
            </div>
        </div>
    </div>

</main>
{% endblock body %}