{%extends 'layout.html'%} {% block title %} <title>Pedidos</title> {%endblock
title %} {% block body%}

<main>
  <div class="card shadow m-3">
    <div class="card-header bg-success w-100 rounded-top">
      <h6 class="fw-bold text-white m-0 py-2">Pedidos</h6>
    </div>
    <div class="card-body mx-2 fs-main">
      <div class="row mb-2">
        <div class="col-7"></div>
        <div class="date-filter-container col-5">
          <label for="startDate">Fecha Inicio:</label>
          <input type="date" id="startDate" />

          <label for="endDate">Fecha Fin:</label>
          <input type="date" id="endDate" />

          <button id="filterDateRange">Filtrar</button>
        </div>

        <table
          class="table table-hover table-bordered table-responsive table-striped nowrap"
          id="Tabla"
          style="width: 100%"
        >
          <thead>
            <tr>
              <th class="text-center">pedidoID</th>
              <th class="text-center">Cedula</th>
              <th class="text-center">Nombre</th>
              <th class="text-center">fecha</th>
              <th class="text-center">total</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</main>

{%endblock%} {% block script %}
<script
  type="module"
  src="{{url_for('static',filename='Pedidos/Inicio.js')}}"
></script>
{% endblock script %}
