{%extends 'layout.html'%} {% block title %}
<title>Clientes</title>
{% endblock title %} {% block body%} {% with messages = get_flashed_messages()%}
{% if messages %} {% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <p>{{ message }}</p>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endfor %} {% endif %} {% endwith %}

<main>
  <div class="card shadow m-2">
    <div class="card-header bg-success w-100 rounded-top">
      <div class="row mb-2">
        <div class="row col-3">
          <h3 class="fw-bold text-white m-0 text-start">
            Registros de Clientes
          </h3>
        </div>
        <div class="row col-9 p-0">
          <div class="col-2">
            <a
              class="form-control btn btn-sm btn-primary fw-bold col-12"
              href="/AgregarCliente"
            >
              <i class="bi bi-plus-lg"></i> Agregar
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body mx-2">
      <div class="row mb-2">
        <table
          class="table table-hover table-bordered table-responsive table-striped nowrap"
          id="Tabla"
          style="width: 100%"
        >
          <thead>
            <tr>
              <th class="text-center">Nombre</th>
              <th class="text-center">Cedula</th>
              <th class="text-center">Telefono</th>
              <th class="text-center">Dirección</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="modalDetails"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Actualizar</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <div class="modal-body">
          <form method="post" id="formulario">
            <div class="row mb-2">
              <div class="mb-2">
                <label for="" class="col-form-label fw-medium"
                  >Nombre <span class="text-danger">*</span></label
                >
              </div>
              <div class="">
                <input name="nombre" id="nombre" class="form-control fs-main" />
              </div>
              <div>
                <label for="" class="col-form-label fw-medium"
                  >No. Identificación <span class="text-danger">*</span></label
                >
              </div>
              <div>
                <input
                  name="cedula"
                  id="cedula"
                  class="form-control fs-main"
                  readonly
                />
              </div>
              <div>
                <label for="" class="col-form-label fw-medium"
                  >Telefono <span class="text-danger">*</span></label
                >
              </div>
              <div>
                <input
                 pattern="[0-9]{8,14}" 
                 type="tel"
                  name="telefono"
                  id="telefono"
                  class="form-control fs-main"
                />
              </div>
            </div>
            <div class="row mb-3">
              <div class="">
                <label for="" class="col-form-label fw-medium"
                  >Dirección <span class="text-danger">*</span></label
                >
              </div>
              <div class="">
                <textarea
                  value="Cliente"
                  name="direccion"
                  class="form-control fs-main"
                  id="direccion"
                  rows="2"
                ></textarea>
              </div>
            </div>
            <div class="row mb-2">
              <div class="d-flex gap-2 justify-content-center">
                <a class="btn btn-secondary btn-danger" data-bs-dismiss="modal">
                  <i class="bi bi-x-circle"></i> Cancelar
                </a>
                <button
                  id="update"
                  class="btn btn-sm btn-success fw-bold btn-primary"
                >
                  <i class="bi bi-plus-lg"></i> Actualizar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="modalOrders"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Generar Pedido
          </h1>
          <button
            id="Close"
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <div class="modal-body">
          <form method="post" id="formularioP">
            <div class="row mb-4">
              <div class="col-sm-12 col-md-12 col-lg-1">
                <label for="" class="col-form-label fw-medium"
                  >Cliente<span class="text-danger">*</span></label
                >
              </div>
              <div class="col-sm-12 col-md-12 col-lg-5">
                <input
                 readonly
                  id="CedulaP"
                  name="CedulaP"
                  class="form-control fs-main"
                ></input>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-1">
                <label for="" class="col-form-label fw-medium"
                  >platillos<span class="text-danger">*</span></label
                >
              </div>
              <div class="col-sm-12 col-md-12 col-lg-5 mb-2">
                <select
                  id="IdPlatillo"
                  name="IdPlatillo"
                  class="form-control fs-main text-truncate"               
                ></select>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-1">
                <label for="" class="col-form-label fw-medium"
                  >Cantidad<span class="text-danger">*</span></label
                >
              </div>
              <div class="col-sm-12 col-md-12 col-lg-5 mb-2">
                <input
                  type="number"
                  id="cantidad"
                  name="cantidad"
                  class="form-control fs-main text-truncate"
                ></input>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-2">
                <label for="" class="col-form-label fw-medium"
                  >Fecha del pedido<span class="text-danger">*</span></label
                >
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4">
                <input
                  type="date" id="fecha_pedido" name="fecha_pedido" readonly
                  class="form-control fs-main text-truncate"
                ></input>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-1">
                <label for="" class="col-form-label fw-medium"
                  >Estado <span class="text-danger">*</span></label
                >
              </div>
              <div class="col-sm-12 col-md-12 col-lg-5">
                <select
                  id="estado"
                  name="estado"
                  class="form-control fs-main"
                ></select>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-3">
                <button class="btn btn-sm fw-bold btn-secondary" id="agregarPlatillo">Agregar Platillo</button>
              </div>
            </div>
            <div class="row">
              <table
          class="table table-hover table-bordered table-responsive table-striped nowrap"
          id="Tablap"
          style="width: 100%"
        >
          <thead>
            <tr>
              
            </tr>
          </thead>
        </table>
            </div>
            <div class="row mb-2">
              <div class="d-flex gap-2 justify-content-center">
                <a class="btn btn-secondary btn-danger" data-bs-dismiss="modal" id="cancel">
                  <i class="bi bi-x-circle"></i> Cancelar
                </a>
                <button
                  id="Generate"
                  class="btn btn-sm btn-success fw-bold btn-primary"
                >
                  <i class="bi bi-plus-lg"></i> Generar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock body %} {% block script %}
<script
  type="module"
  src="{{url_for('static',filename='Clientes/Inicio.js')}}"
></script>
{% endblock script %}
