{%extends 'layout.html'%} {% block title %} <title>Clientes</title> {%endblock
title %} {% block body%}
<main>
  <div class="card shadow m-3">
    <div class="card-header bg-success w-100 rounded-top">
      <h6 class="fw-bold text-white m-0 py-2">Cliente</h6>
    </div>
    <div class="card-body mx-2 fs-main">
      <div class="row mb-2">
        <table class="table">
            <thead>
              <tr>
                <th class="">Cedula</th>
                <th class="">Nombre</th>
                <th class="">Dirección</th>
                <th class="">Teléfono</th>
                <th class=""></th>
              </tr>
            </thead>

            <tbody>
              {% for cliente in Lista_Clientes %}
              <tr>
                <td>{{ cliente.Cedula }}</td>
                <td>{{ cliente.Nombre }}</td>
                <td>{{ cliente.Direccion }}</td>
                <td>{{ cliente.Telefono }}</td>
                <td>
                  <a href="" class="btn btn-secondary"
                    >EDITAR</a
                  >
                  <a href="{{ url_for('Clientes.EliminarCliente', Cedula=cliente.Cedula) }}" class="btn btn-danger"
                    >ELIMINAR</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>

      <div class="row mb-2">
        <div class="d-flex gap-2 justify-content-center">
            
          <a class="btn btn-sm btn-success fw-bold" href="/AgregarCliente">
            <i class="bi bi-plus-lg"></i> Agregar
            
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock body %}
